/* common styles css */
body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-style: normal;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

/* header styes */
.header {
    display: flex;
    justify-content: center;
    border-radius: 16px;
}

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Banner-Image.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1320px;
    height: 600px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_sub_title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 150px;
}

.banner_title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 600px;
    align-items: center;
}

/* Holiday off section */
.holiday {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.holiday_off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
}

.holiday_sub_title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}

.holiday_title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
    margin-top: 20px;
}

.new_year_photo {
    width: 802.9px;
    height: 500px;
}

/* party styles */
.party-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.party_section {
    display: flex;
}
.party_image {
   margin-top: 100px;
   height: 400px;
  padding-left: 50px;
}

.party {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Vectorrr.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1320px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.party_title {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-top: 120px;
    margin-left: 120px;
}

.party_description {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 120px;
}

.party-btn {
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 150px;
    height: 24px;
    border: none;
    margin-left: 120px;
    margin-top: 30px;
}

.party-btn:hover {
    background-color: #FFF;
    color: #070211;
    border-radius: 8px;
    padding: 6px 6px;
    height: 40px;
}

.vanue_container {
    display: flex;
    justify-content: center;
    border-radius: 16px;
    margin-top: 100px;
}

.vanue {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1320px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vanue_place {
    padding-top: 100px;
}

.vanue_item {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.vanue>.vanue_item>span {
    color: #F00;
    text-align: center;
}

.vanue_btn {
    margin-top: 50px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: white;
}

.vanue_btn:hover {
    background-color: #FFF;
    color: #070211;
    border-radius: 8px;
}

/* comming soon section styles */
.comming_soon_container {
    margin-top: 100px;
    width: 1320px;
    margin: auto;
}

.comming_soon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_best_offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.left_comming {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.left_commit_description {
    width: 400px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.mid_comming {
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
}

/* functional section styles */
.function_container {
    margin-top: 100px;
    width: 1320px;
    margin: auto;
    margin-top: 100px;
}

.functional {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.functional_top {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.functiona_sub_title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.functional_title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.functional_title_span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.function_description {
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.functinal_mid {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}


.functiona_mid_right_img_bg {
    background-image: url("../images/Rectangle-1.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 429px;
    height: 433px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
}

.functional_bottom {
    background-image: url("../images/Rectangle-2.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 229px;
    flex-shrink: 0;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
}

.group_75 {
    position: absolute;
}

.group_44 {
    width: 206.841px;
    height: 206.841px;
    margin-top: 150px;
    margin-left: -120px;
    position: absolute;
}

.portfolio_container {
    margin-top: 100px;
    width: 1320px;
    margin: auto;
    margin-top: 100px;
}

.portfolio {
    align-items: center;
    justify-content: space-between;
}

.portfolio_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* portfolio section styles */
.portfolio_sub_title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.portfolio_title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.portfolio_description {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.portfolio_image {
    width: 400px;
    height: 426px;
    border-radius: 16px;
    margin: 20px 0;
    background: lightgray 0px -35.755px / 100% 142.115% no-repeat;
}

.portfolio_image:hover {
    background: #F00 0px -35.755px / 100% 142.115% no-repeat;
    width: 460px;
    position: relative;
}

.portfolio_images {
    margin-bottom: 100px;
}

/* subscription section styles */

.subscription_container {
    width: 1320px;
    margin: auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-bottom: 100px;
}

.subscription {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.group_61 {
    width: 150px;
    height: 150px;
    padding-top: 80px;
}

.subscription_title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    margin: 50px auto;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.subscription_description {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.subscription_form {
    display: flex;
    margin: 80px auto;
    width: 648px;
    height: 72px;
}

.subscription_input {
    width: 450px;
    border: 0;
    padding-left: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #FFF;
    /* color: rgba(7, 2, 17, 0.30); */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscription_btn {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 72px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.subscription_btn:hover {
    background-color: #FFF;
    color: #070211;
}

.footer_container {
    width: 1600px;
    height: 609px;
    margin: auto;
    flex-shrink: 0;
    background: #070211;
}

.footer_section {
    width: 1320px;
    margin: auto;
    height: 616px;
    flex-shrink: 0;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 50px;
}

.footer_top_left {
    width: 375px;
}

.footer_top_right>ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer_top_right>ul>li>span {
    text-align: center;
    padding-right: 5px;
    width: 24px;
    height: 24px;
}

.phone-number {
    padding-right: 10px;
}


.footer_mid {
    /* background-color: red; */
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 50px;
}

.social_icon {
    margin: 0 20px;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 50px;
}

.footer_bottom_left {
    margin-top: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_bottom_right {
    margin-top: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
