/* common styles css */
body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-style: normal;
}

h1,
h2 {
    padding: 0;
    margin: 0;
}

/* header styes */
.header {
    display: flex;
    justify-content: center;
    border-radius: 16px;
}

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Banner-Image.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1320px;
    height: 600px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_sub_title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 150px;
}

.banner_title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 600px;
    align-items: center;
}

/* Holiday off section */
.holiday {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.holiday_off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
}

.holiday_sub_title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}

.holiday_title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.new_year_photo {
    width: 802.9px;
    height: 500px;
}
