/* common styles css */
body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-style: normal;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

/* header styes */
.header {
    display: flex;
    justify-content: center;
    border-radius: 16px;
}

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Banner-Image.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1320px;
    height: 600px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_sub_title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 150px;
}

.banner_title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 600px;
    align-items: center;
}

/* Holiday off section */
.holiday {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.holiday_off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
}

.holiday_sub_title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}

.holiday_title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.new_year_photo {
    width: 802.9px;
    height: 500px;
}

/* party styles */
.party-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.party {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Vectorrr.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1320px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.party_title {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-top: 120px;
    margin-left: 120px;
}

.party_description {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 120px;
}

.party-btn {
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 150px;
    height: 24px;
    border: none;
    margin-left: 120px;
    margin-top: 30px;
}

.party-btn:hover {
    background-color: #FFF;
    color: #070211;
    border-radius: 8px;
    padding: 6px 6px;
    height: 40px;
}

.vanue_container {
    display: flex;
    justify-content: center;
    border-radius: 16px;
    margin-top: 100px;
}

.vanue {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1320px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vanue_place {
    padding-top: 100px;
}

.vanue_item {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.vanue>.vanue_item>span {
    color: #F00;
    text-align: center;
}

.vanue_btn {
    margin-top: 50px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: white;
}

.vanue_btn:hover {
    background-color: #FFF;
    color: #070211;
    border-radius: 8px;
}

/* comming soon section styles */
.comming_soon_container {
    margin-top: 100px;
    width: 1320px;
    margin: auto;
}

.comming_soon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_best_offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.left_comming {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.left_commit_description {
    width: 400px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.right_comming {
    width: 400px;
}

.year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.mid_comming {
    width: 400px;
    height: 400px;
    border-radius: 463px;
    border: 15px solid #F00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
}
